<table align="center" cellspacing="10" style = "width:70%">
  <tr>
    <td colspan="2">
      <h1>Listing wines</h1> <h2> Total - <%= @search.group(:wine_group_str).total %> </h2>
<%= form_tag wines_path, :method => :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
    <%= link_to 'Next Page', :page => (params[:page])? params[:page].to_i + 1 : 2, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year], :price => params[:price], :sort => params[:sort], :order => params[:order] %>
<div class="sort_by pull-right">
      <div class="navbar">
        <ul class="nav pull-right">
          <li><a href="#" data-toggle="modal">Sort by:</a></li>
          <li id="sortby_drop">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id = "wine_sort_element">
              <% if params[:sort].nil? or params[:sort] == "value" %>
                Best Value 
              <% elsif params[:sort] == "expert_rating" %>
                Experts
              <% elsif params[:sort] == "price" %>
                Price
              <% end %>
            </span> <b class="caret"></b></a>
            <div class="dropdown-menu">
              <ul>
                <li>
                    <%= link_to "Best Value", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year], :price => params[:price], :sort => "value", :order => (((params[:sort].present? and params[:sort] == "value") or params[:sort].nil?)? "desc" : "asc") %>
                 </li>
                <li>
                  <%= link_to "Experts", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year], :price => params[:price], :sort => "expert_rating", :order => ((params[:sort].present? and params[:sort] == "expert_rating")? "desc" : "asc") %>
                 </li>
                <li>
                  <%= link_to "Price", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year], :price => params[:price], :sort => "price", :order => ((params[:sort].present? and params[:sort] == "price")? "desc" : "asc") %>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
</td>
</tr>
  <tr>
    <td valign="top">
<div id="facets">
  <div class="span14 well wine_filter">
  <div class="span2 filter_type">Wines by Retailer Type</div><br/>
  <div class="span2 filter_name">
  <ul>
    <% for row in @retailerType.facet(:retailer_type).rows %>
      <li>
        <% if params[:retailer_type].blank? %>
          <%= link_to row.value, :retailer_type=> row.value, :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year], :price => params[:price] %> (<%= row.count %>)<br/>
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> nil, :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>
</div>
  <div class="span2 filter_type">Wines by Distance</div>
  <div class="span2 filter_name">
  <ul>
  <% if params[:distance].present? %>
      <strong><%= params[:distance] %></strong> (<%= @search.group(:wine_group_str).total %>) (<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => nil, :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year]  %>)
    <% else %>
    <% if @distance_0to1.group(:wine_group_str).total > 0 %>
      <li>
        <%= link_to "0..1", :retailer_type=> params[:retailer_type], :distance => "0..1", :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year] %> (<%= @distance_0to1.group(:wine_group_str).total %>)
      </li>
    <% end %>
    <% if @distance_1to3.group(:wine_group_str).total > 0 %>
    <li>
        <%= link_to "1..3", :retailer_type=> params[:retailer_type], :distance => "1..3", :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year] %> (<%= @distance_1to3.group(:wine_group_str).total %>)
      </li>
    <% end %>
    <% if @distance_3to5.group(:wine_group_str).total > 0 %>
    <li>
        <%= link_to "3..5", :retailer_type=> params[:retailer_type], :distance => "3..5", :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year] %> (<%= @distance_3to5.group(:wine_group_str).total %>)
      </li>
    <% end %>
    <% if @distance_5to25.group(:wine_group_str).total > 0 %>
    <li>
        <%= link_to "5..25", :retailer_type=> params[:retailer_type], :distance => "0..1", :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year] %> (<%= @distance_5to25.group(:wine_group_str).total %>)
      </li>
    <% end %>
    <% if @search.group(:wine_group_str).total > 0 %>
    <li>
        <%= link_to "any", :retailer_type=> params[:retailer_type], :distance => "any", :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year] %> (<%= @search.group(:wine_group_str).total %>)
      </li>
    <% end %>
  <% end %>
  </ul><br/>
</div>
  <div class="span2 filter_type">Wines by Price</div><br/>
  <div class="span2 filter_name">
  <ul>
    <% for row in @priceGroup.facet(:price).rows %>
      <li>
        <% if params[:price].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year], :price => row.value %> (<%= row.count %>)<br/>
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year], :price => nil %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>
</div>
  <div class="span2 filter_type">Wines by Wine Type</div>
  <div class="span2 filter_name">
  <ul>
    <% for row in @search.facet(:wine_type).rows %>
      <li>
        <% if params[:wine_type].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => row.value, :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year]%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => nil, :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>
</div>
  <div class="span2 filter_type">Wines by Expert Rating</div>
  <div class="span2 filter_name">
  <ul>
    <% for row in @search.facet(:expert_rating).rows %>
      <li>
        <% if params[:expert_rating].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => row.value, :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year]%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => nil, :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>
</div>
  <div class="span2 filter_type">Wines by Reviews</div>
  <div class="span2 filter_name">
  <ul>
    <% for row in @search.facet(:review).rows %>
      <li>
        <% if params[:review].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => row.value, :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year]%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => nil, :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>
</div>
  <div class="span2 filter_type">Wines by Varietal</div>
  <div class="span2 filter_name">
  <ul>
    <% for row in @search.facet(:varietal).rows %>
      <li>
        <% if params[:varietal].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => row.value, :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year] %> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => nil, :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year]  %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>
</div>
  <div class="span2 filter_type">Wines by White Varietal</div>
  <div class="span2 filter_name">
  <ul>
    <% for row in @search.facet(:white_varietal).rows %>
      <li>
        <% if params[:white_varietal].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => row.value, :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year]%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => nil, :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>
</div>
  <div class="span2 filter_type">Wines by Red Varietal</div>
  <div class="span2 filter_name">
  <ul>
    <% for row in @search.facet(:red_varietal).rows %>
      <li>
        <% if params[:red_varietal].blank? %>
          <%= link_to row.value, :retailer_type=>params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => row.value, :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year]%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => nil, :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>
</div>
  <div class="span2 filter_type">Wines by Champagne Varietal</div>
  <div class="span2 filter_name">
  <ul>
    <% for row in @search.facet(:champagne_varietal).rows %>
      <li>
        <% if params[:champagne_varietal].blank? %>
          <%= link_to ((row.value.present?)? row.value : "None") , :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => row.value, :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year]%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => nil, :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>
    </div>
  <div class="span2 filter_type">Wines by Region</div>
  <div class="span2 filter_name">
  <ul>
    <% for row in @search.facet(:region).rows %>
      <li>
        <% if params[:region].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => row.value, :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year]%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => nil, :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>
</div>
  <div class="span2 filter_type">Wines by Sub Region</div>
  <div class="span2 filter_name">
  <ul>
    <% for row in @search.facet(:sub_region).rows %>
      <li>
        <% if params[:sub_region].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => row.value, :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year]%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => nil, :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>
</div>
  <div class="span2 filter_type">Wines by Producer</div>
  <div class="span2 filter_name">
  <ul>
    <% for row in @search.facet(:producer).rows %>
      <li>
        <% if params[:producer].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => row.value, :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year]%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => nil, :bottlesize => params[:bottlesize], :price => params[:price], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
  <div class="span2 filter_type">Wines by Size</div>
  <div class="span2 filter_name">
  <ul>
    <% for row in @search.facet(:bottlesize).rows %>
      <li>
        <% if params[:bottlesize].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer],  :price => params[:price], :bottlesize => row.value, :year => params[:year]%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => nil, :price => params[:price], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>
  </div>

  <div class="span2 filter_type">Wines by Year</div>
  <div class="span2 filter_name">
  <ul>
    <% for row in @search.facet(:year).rows %>
      <li>
        <% if params[:year].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => row.value%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :price => params[:price], :year => nil %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>
</div>
</div>
</div>
</td>
<td valign="top" style="width:80%;">
<% @search.group(:wine_group_str).groups.each do |ledgers| %>
  <% wine = ledgers.results[0].wine %>
    <!-- Wine Detail Row Start --> 
      <div class="span6 well wine_detail_div">
        <div class="media">
          <div class="span" style="margin-left: 0px; margin-right: 16px;">
            <table>
              <tr>
                <td width="106px" style="vertical-align: top"><div align="center" style="vertical-align: middle; max-height: 106px; width: 106px;" class="find_wine_img"><img src="/assets/pic5.png" /></div></td>
              </tr>
            </table>
          </div>
          <div class="media-body">
            <div class="wine_name"><%=link_to wine.wine_name, wine_path(:id =>wine.id) %></div>
            <div class="wine_detail"><%= wine.wine_type %> Wine, <%=wine.varietal %> from <%= (wine.sub_region.present?)? wine.sub_region + ", " : ""%> <%= wine.region %></div>
            <% if wine.expert_points.present? %>
            <div class="navbar">
              <ul class="nav store_value_drop pull-left" style ="float:none; width:100%">
                <li class="dropdown_store" style = "float:none;">
                  <span class="label label_pt"><a href="/wines/10484"><%=wine.expert_points%></a></span>
                  <ul class="dropdown-main-unscrewed">
                    <li>
                      <div>
                        <div class="expert_score_value"><strong>Expert Score: </strong><%=wine.expert_points%>  pts (avg)</div>
                        <ul>
                         <% wine.wine_reviews.each do |rev| %>
                          <li><div class="span2">
                            <div class="expert_name_drpdwn"><%= rev.expert + " - " + rev.rating.to_s %></div>
                          </div></li>
                        <% end %>
                      </ul>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <% end %><br/>
            <div class="wine_price_label"><span class="wine_price">$ <%= ledgers.results[0].price%></span>  at <span><%=ledgers.results[0].retailer.retailer_name %></span></div>
            <div style="margin-left: -1px;"><span class="label_winepage">
              <img src='<%= ledgers.results[0].value_img %>' >
            </span></div>
            <div class="rate_wine"><a href="#">Rate It</a></div>
            <div class="add_links" style="visibility: hidden;">
                <span class="add_list"><a href="#addwinediv"  onclick="return false;">Add to My List</a></span>
                <span class="report_out"><a href="#" onclick="return false;">Report In/Out</a></span>
                <span class="new_price"><a href="#" onclick="return false;">New Price</a></span>
            </div>
          </div>
        </div>
      </div>
  <% end %>
<div class="pagination_wine span6">
  <div align="center" id="winepaggi"  class ="hiderow" style="position:absolute;margin-left:320px;margin-top:-40px"><img src="/assets/newajax-loader.gif"/></div>
  <div align="center" id="findwinepage">
<%#= link_to 'New Wine', new_wine_path %>        
<%= link_to 'Next Page', :page => (params[:page])? params[:page].to_i + 1 : 2, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year], :price => params[:price], :sort => params[:sort], :order => params[:order] %>
</div>
</div>
</td>
</tr>
</table>
