<h1>Listing wines</h1> <h2> Total - <%= @search.group(:wine_group_str).total %> </h2>
<%= form_tag wines_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<table>
  <tr>
    <td>
<div id="facets">
  <h3>Wines by Retailer Type</h3>
  <ul>
    <% for row in @retailerType.facet(:retailer_type).rows %>
      <li>
        <% if params[:retailer_type].blank? %>
          <%= link_to row.value, :retailer_type=> row.value, :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year] %> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> nil, :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>

  <h3>Wines by Distance</h3>
  <ul>
  <% if params[:distance].present? %>
      <strong><%= params[:distance] %></strong> (<%= @search.group(:wine_group_str).total %>) (<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => nil, :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year]  %>)
    <% else %>
    <% if @distance_0to1.group(:wine_group_str).total > 0 %>
      <li>
        <%= link_to "0..1", :retailer_type=> params[:retailer_type], :distance => "0..1", :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year] %> (<%= @distance_0to1.group(:wine_group_str).total %>)
      </li>
    <% end %>
    <% if @distance_1to3.group(:wine_group_str).total > 0 %>
    <li>
        <%= link_to "1..3", :retailer_type=> params[:retailer_type], :distance => "1..3", :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year] %> (<%= @distance_1to3.group(:wine_group_str).total %>)
      </li>
    <% end %>
    <% if @distance_3to5.group(:wine_group_str).total > 0 %>
    <li>
        <%= link_to "3..5", :retailer_type=> params[:retailer_type], :distance => "3..5", :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year] %> (<%= @distance_3to5.group(:wine_group_str).total %>)
      </li>
    <% end %>
    <% if @distance_5to25.group(:wine_group_str).total > 0 %>
    <li>
        <%= link_to "5..25", :retailer_type=> params[:retailer_type], :distance => "0..1", :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year] %> (<%= @distance_5to25.group(:wine_group_str).total %>)
      </li>
    <% end %>
    <% if @search.group(:wine_group_str).total > 0 %>
    <li>
        <%= link_to "any", :retailer_type=> params[:retailer_type], :distance => "any", :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year] %> (<%= @search.group(:wine_group_str).total %>)
      </li>
    <% end %>
  <% end %>
  </ul><br/>

  <!-- Wine Price not handled yet -->

  <h3>Wines by Wine Type</h3>
  <ul>
    <% for row in @search.facet(:wine_type).rows %>
      <li>
        <% if params[:wine_type].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => row.value, :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year]%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => nil, :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>

  <h3>Wines by Expert Rating</h3>
  <ul>
    <% for row in @search.facet(:expert_rating).rows %>
      <li>
        <% if params[:expert_rating].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => row.value, :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year]%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => nil, :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>

  <h3>Wines by Reviews</h3>
  <ul>
    <% for row in @search.facet(:review).rows %>
      <li>
        <% if params[:review].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => row.value, :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year]%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => nil, :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>

  <h3>Wines by Varietal</h3>
  <ul>
    <% for row in @search.facet(:varietal).rows %>
      <li>
        <% if params[:varietal].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => row.value, :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year] %> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => nil, :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year]  %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>

  <h3>Wines by White Varietal</h3>
  <ul>
    <% for row in @search.facet(:white_varietal).rows %>
      <li>
        <% if params[:white_varietal].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => row.value, :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year]%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => nil, :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>

  <h3>Wines by Red Varietal</h3>
  <ul>
    <% for row in @search.facet(:red_varietal).rows %>
      <li>
        <% if params[:red_varietal].blank? %>
          <%= link_to row.value, :retailer_type=>params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => row.value, :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year]%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => nil, :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>

  <h3>Wines by Champagne Varietal</h3>
  <ul>
    <% for row in @search.facet(:champagne_varietal).rows %>
      <li>
        <% if params[:champagne_varietal].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => row.value, :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year]%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => nil, :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>
    
  <h3>Wines by Region</h3>
  <ul>
    <% for row in @search.facet(:region).rows %>
      <li>
        <% if params[:region].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => row.value, :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year]%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => nil, :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>

  <h3>Wines by Sub Region</h3>
  <ul>
    <% for row in @search.facet(:sub_region).rows %>
      <li>
        <% if params[:sub_region].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => row.value, :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year]%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => nil, :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>

  <h3>Wines by Producer</h3>
  <ul>
    <% for row in @search.facet(:producer).rows %>
      <li>
        <% if params[:producer].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => row.value, :bottlesize => params[:bottlesize], :year => params[:year]%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => nil, :bottlesize => params[:bottlesize], :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul>

  <h3>Wines by Size</h3>
  <ul>
    <% for row in @search.facet(:bottlesize).rows %>
      <li>
        <% if params[:bottlesize].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => row.value, :year => params[:year]%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => nil, :year => params[:year] %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>
  

  <h3>Wines by Year</h3>
  <ul>
    <% for row in @search.facet(:year).rows %>
      <li>
        <% if params[:year].blank? %>
          <%= link_to row.value, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => row.value%> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= row.count %>)(<%= link_to "x", :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => nil %>)
        <% end %>
      </li>
    <% end %>
  </ul><br/>
</div>

</td>
<td valign="top">
<table>
  <tr align="left">
    <th>Wine name</th>
    <th>region</th>
    <th>Varietal</th>
    <th>Year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wines.each do |wine| %>
  <tr>
    <td><%= wine.wine_name %></td>
    <td><%= wine.region%></td>
    <td><%= wine.varietal %></td>
    <td><%= wine.year %></td>
    <td><%= link_to 'Show', wine %></td>
    <td><%= link_to 'Edit', edit_wine_path(wine) %></td>
    <td><%= link_to 'Destroy', wine, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wine', new_wine_path %>

<%= link_to 'Next Page', :page => (params[:page])? params[:page].to_i + 1 : 2, :retailer_type=> params[:retailer_type], :distance => params[:distance], :wine_type => params[:wine_type], :expert_rating => params[:expert_rating], :review => params[:review], :varietal => params[:varietal], :white_varietal => params[:white_varietal], :red_varietal => params[:red_varietal], :champagne_varietal => params[:champagne_varietal], :region => params[:region], :sub_region => params[:sub_region], :producer => params[:producer], :bottlesize => params[:bottlesize], :year => params[:year] %>

</td>
</tr>
</table>
